.pro{
  background-color: rgb(240, 231, 231);
}
.button{
  position: absolute;
  right: 0; 
  background-color: red;
  color: white;
   border-radius: 5px;

margin-right: 20px;
padding: 3px;
  margin-top: 10px;  
}


  .prto{
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    border: 2px solid brown;
    background-color: brown;
    color: #fff;
    margin-bottom: 20px;
  }
  
 
  .cardd {
    width: 200px;
    height: 400px;
    background: white;
    padding: .4em;
    border-radius: 6px;
    margin-left: 25%;

  }
  
  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 1100;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }